{% extends "base.html" %}

{% block content %}
    <table id="total votes" class="table table-hover text-centered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Parent</th>
                <th>Duration</th>
                <th>Net duration</th>
            </tr>
        </thead>
        <tbody>
            {% for task in object_list %}
                        {% include "tasks/task_item.html" %}
             {% endfor %}
        </tbody>
    </table>
{% endblock %}
